.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #333;
    color: white;
    border-top-left-radius: 16px; 
    border-top-right-radius: 16px;
}

.footer-logo img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

.footer-section {
    flex: 1;
    margin-left: 20px;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    font-size: 1rem;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}