.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-bottom-left-radius: 16px; /* Rounded lower left border */
    border-bottom-right-radius: 16px; /* Rounded lower right border */
}

.logo img {
    width: 150px; /* Adjust the size as needed */
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    font-size: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}