.testimonials-section {
    padding: 20px;
    background-color: #495E47; /* Updated background color */
}

.testimonials-section header {
    text-align: center;
    margin-bottom: 20px;
}

.testimonials-section header h2 {
    font-size: 1.5rem;
    color: #F4CE14; /* Updated header text color */
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.testimonials-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.testimonial-card {
    flex: 1 1 calc(25% - 20px);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center; /* Center text in the card */
}

.testimonial-photo {
    width: 60%;
    height: auto;
    border-radius: 50%;
}

.testimonial-content {
    text-align: center;
    color: black; /* Updated regular text color */
}

.testimonial-rating {
    font-weight: bold;
    margin: 10px 0;
}

.testimonial-review {
    font-size: 1rem;
    color: black; /* Updated regular text color */
}

.testimonial-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black; /* Updated header text color */
}

.testimonial-card p {
    font-size: 1rem;
    color: black; /* Updated regular text color */
}

.testimonial-card figcaption {
    font-weight: bold; /* Make the name bold */
}